= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true        
%link{ href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic', rel: 'stylesheet', type: 'text/css' }

= render partial: 'layouts/head/meta'



%title
  =@site_title 
  -
  
  - if @page
    = @page.title_tag
  - else
    Хочу счастья







