%meta{content: 'text/html; charset=UTF-8',               'http-equiv' => 'Content-Type'}/
%meta{content: 'width=device-width, initial-scale=1',     name: 'viewport'}

%meta{content: 'Vita staralas, vitalina.liane@gmail.com', name: 'author'}/

%meta{content: @page.keywords_meta,                       name: 'keywords'}/
%meta{content: @page.description_meta,                    name: 'description'}/


