%link{href: 'http://www.be-in-pair.herokuapp.com/assets/bred-c61f10a528a1d976ac87b1e55cc8684126f3aa3412a1836da6f5d4771019c3fd.png', rel: 'prefetch'}/
%link{href: 'http://www.be-in-pair.herokuapp.com/assets/form/form_fond-693b1187ba04807214da1f3be9018c98d862552ce56ec70a2ddda18e11bb9418.png', rel: 'prefetch'}/

%link{href: 'http://www.be-in-pair.herokuapp.com/assets/fond_main/forest_original-a95002f013f62ecadc59a3b474f637c88129d02a2c879f56c248249980f8caee.jpg', rel: 'prefetch'}/  
%link{href: 'http://www.be-in-pair.herokuapp.com/assets/fond_main/forest_white_blur_50_opacity-3dce70529ee5b46ab31229ef802f3e897f0f64d6318f4679e4018fe931223325.jpg', rel: 'prefetch'}/  

%link{href: 'http://www.be-in-pair.herokuapp.com/assets/active_admin-8da8f6f609e7bc6c6df65b174705b9dece637d912ae7e05f513f5ab26a5a7d17.js.gz', rel: 'prefetch'}/
%link{href: 'http://www.be-in-pair.herokuapp.com/assets/active_admin-acbab64e5f1e599863de93d6067fad1337e2d6302fd53eb26ca61d1fe0ab0e49.css.gz', rel: 'prefetch'}/
%link{href: 'http://www.be-in-pair.herokuapp.com/assets/application-52e2e2030a67f266f600d7ee17caa873bc440827522ab95e7037e7c20c9461f9.js.gz', rel: 'prefetch'}/
%link{href: 'http://www.be-in-pair.herokuapp.com/assets/application-a72842feb1cd5d138aef9cfc2989dd3cea577b6f5e08faed86f071a9f8ebd648.css.gz', rel: 'prefetch'}/

