-# 'DIV-тег iз вбудованим стилем - так робити не красиво; бо структура стилей вже малочитабельна'

%div{ style: 'text-align: justify !important;' }
  =@info_msg


%div       
  = button_to 'Спробувати ще раз', '/', class: 'btn btn-success btn-large'

